@tailwind base;
@tailwind components;
@tailwind utilities;

@layer base {
  :root { --bg-ink: #0a0d12; }
  html, body, #root { height: 100%; }
  body { @apply bg-[var(--bg-ink)] text-slate-100 font-mono antialiased; }
}

/* input focus style for caret */
input:focus {
  outline: none !important;
  box-shadow: none !important;
  caret-color: #22d3ee !important; /* cyan-300 */
}